<h1>Check out these saved movies!</h1>

<form action="/movies" method="get">
  <label for="title">Search by movie title</label><br/>
  <input type="string" name="title">
  <button>Search</button>
</form>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <a href="/movies/<%= movie.id %>">
        <%= movie.title %>
      </a>
    </li>
  <% end %>
</ul>