<h1>Check out these movies!</h1>

<form action="/movies" method="get">
  <label for="title">Search by movie title</label><br/>
  <input type="string" name="title">
  <button>Search</button>
</form>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %>
    </li>
  <% end %>
</ul>